<div style="margin-top: 30px;">
    <h1>Custom List Setting</h1>
    <p><strong>Setting A List</strong></p>
    <ol>
        <li>Checked the functions you want(add/edit/delete).</li>
        <li>Set up the dialog form(Same with setting a form).</li>
        <li>Generate json(or build a list).</li>
    </ol>

    <h2 style="margin-top: 30px;">List Function</h2>
    <dynamic-form [config]="listConfig" [model]="listModel"></dynamic-form>

    <h1><a class="btn btn-success" (click)="buildList()">Build List</a></h1>
    <h1><a class="btn btn-success" (click)="formJson()">Generate JSON</a></h1>
    <json-to-html [hidden]="!json" [(ngModel)]="json"></json-to-html>
</div>