<div *ngIf="!isShown">
    <h3 style="color: red;">You are in the simulation of app rebuild.
        <a class="btn btn-default" routerLink="/home" >Return to home page.</a>
    </h3>


    <h1 style="margin-top: 30px;">Custom App Rebuild</h1>
    <div>
        <h2>Input JSON</h2>
        <textarea [(ngModel)]="json" class="json-input-textarea"></textarea>
        <h2><a class="btn btn-success" (click)="buildApp()" >Generate App</a></h2>
    </div>
</div>
<new-app *ngIf="isShown" (close)="back()"></new-app>