<div *ngIf="!isShown">
    <h3 style="color: red;">阁下正处于新APP的模拟环境中。
        <a class="btn btn-default" routerLink="/home">返回</a>
    </h3>


    <h1 style="margin-top: 30px;">页面生成</h1>
    <p><strong>生成模拟APP</strong></p>
    <ol>
        <li>输入上方产生的json配置。</li>
        <li>生成页面。</li>
    </ol>
    <div>
        <h2>输入JSON</h2>
        <textarea [(ngModel)]="json" class="json-input-textarea"></textarea>
        <h2><a class="btn btn-success" (click)="buildApp()">生成App</a></h2>
    </div>
</div>
<new-app *ngIf="isShown" (close)="back()"></new-app>