<div class="container body">
    <div class="main_container">
        <app-sidebar [menus]="menus"></app-sidebar>

        <div class="right_col" role="main">
            <h1>You are in the simulation of app rebuild.
                <a class="btn btn-default" routerLink="/home" >Return to home page.</a>
                <a class="btn btn-info" (click)="close.emit()" >Back to input config.</a>
            </h1>
            <dynamic-list [config]="listConfig" [(ngModel)]="listModel"></dynamic-list>
        </div>

        <footer>
            <div class="pull-right">
                <a href="https://github.com/godbasin">@godbasin</a>
            </div>
            <div class="clearfix"></div>
        </footer>
    </div>
</div>