<div style="margin-top: 30px;">
    <h1>自定义页面配置</h1>
    <p><strong>配置APP步骤：</strong></p>
    <ol>
        <li>配置页面菜单（一级/二级）以及对应页面路由。</li>
        <li>配置页面的表单对话框。</li>
        <li>配置页面的列表功能和展示。</li>
        <li>生成JSON（或生成模拟APP）。</li>
    </ol>


    <h2 style="margin-top: 30px;">页面菜单列表</h2>
    <div>
        <dynamic-list [config]="listConfig" [(ngModel)]="listModel"></dynamic-list>
    </div>

    <h1><a class="btn btn-success" (click)="buildApp()">生成模拟页面</a></h1>
    <h1><a class="btn btn-success" (click)="formJson()">生成JSON</a></h1>
</div>
