<div style="margin-top: 30px;">
    <h1>Custom List Rebuild</h1>
    <p><strong>Build A List</strong></p>
    <ol>
        <li>Input json that generated above.</li>
        <li>Build the list.</li>
    </ol>
    
    <div style="margin-top: 30px;">
        <h2>Input JSON</h2>
        <textarea [(ngModel)]="json" class="json-input-textarea"></textarea>
        <h2><a class="btn btn-success" (click)="buildList()">Generate list</a></h2>
    </div>
    <div>
        <dynamic-list *ngIf="isShown" [config]="listConfig" [(ngModel)]="listModel"></dynamic-list>
    </div>
</div>