<div style="margin-top: 30px;">
    <h1>自定义列表生成</h1>
    <p><strong>生成列表</strong></p>
    <ol>
        <li>输入上方产生的json配置。</li>
        <li>生成列表。</li>
    </ol>

    <div style="margin-top: 30px;">
        <h2>输入JSON</h2>
        <textarea [(ngModel)]="json" class="json-input-textarea"></textarea>
        <h2><a class="btn btn-success" (click)="buildList()">生成列表</a></h2>
    </div>
    <div>
        <dynamic-list *ngIf="isShown" [config]="listConfig" [(ngModel)]="listModel"></dynamic-list>
    </div>
</div>